*{
	color: black;
	text-align: center;
	font-family: Courier;
}
#contenedor{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1px solid black;
	background-color: lightblue;
	margin: 0 auto;
}
#cabecera{
	background-color: red;
	margin: 0 auto;
	width: 70%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}
#cabecera h3{
	font-size: 30px;
	margin: 0;
	padding-left: 50px;
}
#cabecera nav{
	margin: 0;
}
#cabecera li{
	display:inline-block;
}
#cabecera li::after{
	content: " |"
}